:root {
  --data:"hostel"; 
}

.sidebar_box {
    height: 13%;
    width: 100%;
    position: relative;
    z-index: 50;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    &:after {
        content:  var(--data);
        color: #fff;
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-55%, -55%);
        text-align: left;
        opacity: 0.6;
        transition: all 0.5s ease-in-out;
    }

    & .child {
        transform: scale(1);
        transition: all 0.5s ease-in-out;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    & .child:before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s ease-in-out;

        background: rgba(8, 19, 30, 0.8);
    }

    &:hover {
        &:after {
            opacity: 1;
        }
        & .child {
            transform: scale(1.2);
            transition: all 0.5s ease-in-out;
            transition-delay: 300ms;
        }
        & .child:before {
            transition: all 0.5s ease-in-out;
            background: rgba(8, 19, 30, 0.4);
        }
    }
}
.sidebar_box_active {
    height: 13%;
    width: 100%;
    position: relative;
    z-index: 50;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    &:after {
        content: var(--data);
        color: #fff;
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-55%, -55%);
        text-align: left;
        transition: all 0.5s ease-in-out;
    }

    & .child {
        transform: scale(1);
        transition: all 0.5s ease-in-out;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    & .child:before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s ease-in-out;

        background: rgba(8, 19, 30, 0.4);
    }

    &:hover {
        &:after {
            opacity: 1;
        }
        & .child {
            transform: scale(1.2);
            transition: all 0.5s ease-in-out;
            transition-delay: 300ms;
        }
        & .child:before {
            transition: all 0.5s ease-in-out;
            background: rgba(8, 19, 30, 0.6);
        }
    }
}
.gm-iv-container,
.gm-iv-address {
    display: none;
}

.sidebar_control {
    z-index: 10000;
    background-color: #fff;
    width: 2px;
    height: 40%;
    top: 10%;
    opacity: 1 !important;
}

