@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*::-webkit-scrollbar {
  width: 5px !important;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
}
*::-webkit-scrollbar-thumb {
background-color: darkgrey !important;
outline: 1px solid slategrey !important;
}
#container {
 z-index:0;
}

#controlButton {
  top: 1rem;
}

#modeButton {
  top: 4rem;
}

#videoButton {
  top: 150px;
  display: none;
}
.arrow {
  position: relative;
  display: inline-block;
  margin: 40px;
  padding: 40px;
  box-shadow: 15px -15px 0 0 white inset;
}
.arrow--left {
  transform: rotate(45deg);

  left: 25px;
}
.arrow--right {
  transform: rotate(225deg);
  right: 25px;
}
.arrow--up {
  
  transform:rotate3d(1,0,0,240deg) rotateZ(320deg);
  top: 25px;
}
.arrow--up:hover{
  box-shadow: 25px -25px 0 0 #fff inset;;
}
.arrow--down {
  transform: rotate(-45deg);
  bottom: 25px;
}
div.in,div.out{
  visibility: hidden !important;
}